body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contents {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
        'game-board' 'local-stats'
        'geme-session' 'instruction';
    gap: 50px;
    max-width: 1300px;
    margin: 0 auto;
}

.child-content {
    border: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #f7f7f7;
    padding: 30px;
    box-sizing: border-box;
}

#gameboard {
    grid-area: game-board;
}

button {
    font-size: 1rem;
    padding: 10px 20px;

}